footer {
    background-color:rgba(65, 83, 102, 1);
    //margin-left:10%;
    //margin-right:10%;
   // margin-top:20px;
    margin:20px 10% 0 10%;
    z-index:1;
    width:79%;
    position: fixed;
    //position:absolute;
    bottom:0px;
    text-align:center; 
    height:20px;
    font-size:15px;
    font-family: 'Rock Salt', cursive;
    line-height:100%;
    padding:0px 0px 20px 0px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    min-width:915px;
}