menu {
    z-index:2;
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    text-align:center;
    height:50px;
    font-size:25px;
    font-weight:bold;
    font-family: 'Rock Salt', cursive;
    padding:0px 10px 10px 10px;
    margin:0 auto;
    min-width:900px;
    line-height:100%;
}

menu a {text-decoration:none; color:rgba(65, 83, 102, 1);}
menu a:hover {color:rgba(223, 111, 9, 1);}

#logo {
    float:left;
    width:100px;
    height:60px;
    position:relative;
    left:-20px;
    top:-20px;
}

menu ul {
    list-style-type:none;
}
ul {
    list-style-type: none;
}
menu li {
    display:inline;
    margin:0px 20px 0px 20px;
    
}

.shift_left {
    position: relative;
    right: 80px;
}
.s_line{
    clear:both;
    width:100%;
    height:3px;
    margin-top:10px;
    margin-bottom: 10px;
    background-image: url(../images/line.png);
    background-repeat: repeat;
}