@import url(http://fonts.googleapis.com/css?family=Rock+Salt|Shadows+Into+Light+Two);

body {
    background-color:rgba(211, 206, 187, 1);
    font-family: 'Shadows Into Light Two', cursive;
    font-size:20px;
    text-color:white;
    line-height:200%;
}

a {text-decoration:none; color:white;}
a:hover {color:rgba(223, 111, 9, 1);}

.spacer {height:20px;}

.highlight {box-shadow: 0px 0px 10px white, inset 0px 0px 10px white;}

.main_container{
 
    margin:70px 10% 50px 10%;
    width:80%;
    min-width:465px;
    background-color:rgba(65, 83, 102, 1);
    border-radius:10px;
    min-height:465px;
    color: white;
    clear:both;  
    
}
#main_container {
   z-index:1;
    position:absolute;
    top:0px;
    bottom:0px;
}
.main_container:after {
    clear:both;
    content:" ";
    display:block;
}

#feed li{
     background-color:rgba(181, 176, 20, 1);
     border-radius:10px;
     margin-bottom: 25px;
     padding: 10px;
}

#subcontainer1 {
    background-color:rgba(181, 176, 20, 1);
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-top:40px;
    margin-bottom:40px;
    z-index:2;
}

#subcontainer2 {
    background-color:rgba(223, 111, 9, 1);
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:4;
    max-height:40%;
}

#online_users {
    display:inline-block;
    float:left;
    padding: 40px 0 0 20px;
    width:20%;
}

#posts {
    display:inline-block;
    float:left;
    width:70%;
    padding: 40px 20px 0 0;
   
}

.post {
    background-color:rgba(181, 176, 20, 0.8);
    border-radius:5px;
}

#online_users input {width:50%;}

::-webkit-input-placeholder { /* WebKit browsers */
    color:rgba(65, 83, 102, 1);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:rgba(65, 83, 102, 1);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:rgba(65, 83, 102, 1);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:rgba(65, 83, 102, 1);
}

form {margin-top:0px; margin-bottom:0px;}

form > label {
    text-align:center;
    display:block;
    padding:15px 0px 15px 0px;
}

form label > span {
    font-size:25px; 
    position:absolute;
    text-align:center;
    padding-left:20px;
}

textarea:focus, input:focus{outline: 0;}

input, textarea {
    display:inline-block;
    width:300px;
    height:50px;
    border-radius:5px;
    border-width:0px;
    padding:5px 10px;
    background-color:rgba(211, 206, 187, 1);
    font-family:inherit;
    font-size:inherit;
    color:rgba(65, 83, 102, 1); 
    display:inline-block;
}

textarea {height:80px;}

input[type='submit'] {
    visibility:hidden;
}

.wheels_anim img {
    display:inline-block;
    vertical-align:middle;
    position:relative;
    bottom:-50px;
    margin-left:5px;
}

#register {display:block;}
#registration_form input[type='submit'] {
    visibility:visible;
}

#forgot {display:block;}
#new_post { padding: 10px;}
.timestamp {float:right;}
.bold {font-weight:bold;}

button, input[type='submit']{
    margin-top: 10px; 
	-moz-box-shadow:inset 0px 0px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 0px 0px 0px #cae3fc;
	box-shadow:inset 0px 0px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4e7296), color-stop(1, #2f4a66) );
	background:-moz-linear-gradient( center top, #4e7296 5%, #2f4a66 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7296', endColorstr='#2f4a66');
	background-color:#4e7296;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:-4px;
	border:1px solid #205080;
	display:inline-block;
	color:#ffffff;
        font-family: 'Shadows Into Light Two', cursive;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:38px;
	line-height:38px;
	width:145px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #333333;
}

button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2f4a66), color-stop(1, #4e7296) );
	background:-moz-linear-gradient( center top, #2f4a66 5%, #4e7296 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f4a66', endColorstr='#4e7296');
	background-color:#2f4a66;
}

button:active {
	position:relative;
	top:1px;
}

.delete_post {float:right;}

.comments {padding:20px 0px 0px 0px;}
#feed li > ul > li {background-color:rgba(244, 132, 55, 0.9);}

#readme {
    padding: 30px 30px;
}